html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;

}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input,
button,
textarea,
select {
    font: inherit;

}

button {
    cursor: pointer;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.container {
    max-width: 1360px;
    padding: 0 10px;
    margin: 0 auto;
}