html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;

}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #274C5B;
    transition: all 0.5s;
}

input,
button,
textarea,
select {
    font: inherit;

}

button {
    cursor: pointer;
    transition: all 0.5s;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.36px;
    color: #525C60;
}

/* font-family: 'Open Sans',
sans-serif;
font-family: 'Roboto',
sans-serif;
font-family: 'Yellowtail',
cursive; */

.container {
    max-width: 1400px;
    padding: 0 10px;
    margin: 0 auto;
}

section {
    padding: 140px 0;
}

.title-subtitle {
    font-size: 36px;
    line-height: 65px;
    font-family: 'Yellowtail', sans-serif;
    color: #7EB693;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    text-transform: capitalize;
    max-width: 523px;
}

.btn {
    font-family: 'Roboto',
        sans-serif;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    border-radius: 16px;
    padding: 25px 71px 25px 33px;
    position: relative;
}

.btn::after {
    position: absolute;
    content: '';
    background-image: url('../images/icons/arrow-btn.svg');
    width: 17px;
    height: 13px;
    right: 21px;
    top: 32px;
}

.btn::before {
    position: absolute;
    content: '';
    background-color: #335B6B;
    width: 38px;
    height: 34px;
    right: 11px;
    top: 22px;
    border-radius: 50%;
}

.header {

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;

    }

    &__top-list {
        display: flex;
    }

    &__top-logo:hover,
    &__top-logo:active {
        opacity: 0.5;
    }

    &__cart-text {
        display: flex;
    }

    &__top-nav {
        margin-left: -60px;
    }

    &__top-item:not(:last-child) {
        margin-right: 40px;
    }

    &__top-item {
        font-size: 20px;
        font-family: 'Roboto';
    }

    &__top-link--active {
        color: #7EB693;
    }

    &__top-link:hover {
        color: #7EB693;

    }

    &__top-link:active {
        border-bottom: 1px solid #7EB693;
    }

    &__top-cart {
        border: 1px solid #D4D4D4;
        border-radius: 33px;
        padding: 7px 11px;
        display: flex;
    }

    &__cart-link:hover {
        background-color: #fff;
    }

    &__cart-link:active {
        border: 1px solid #000;
    }

    &__cart-link:focus {
        border: 3px solid #000;
    }

    &__cart-link:hover path {
        stroke: #274C5B;
    }

    &__cart-link {
        background-color: #274C5B;
        border-radius: 100px;
        width: 56px;
        height: 56px;
        margin-right: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__cart-text {
        display: flex;
        align-items: center;
        font-size: 17px;
        line-height: 29px;
        font-family: 'Roboto';
    }

    &__cart-text p {
        margin-right: 10px;
        color: #274C5B;
    }

    &__offer {
        max-width: 530px;
        color: #274C5B;
        padding: 220px 0 250px;
    }

    &-subtitle {
        margin-bottom: 14px;
    }

    &-title {
        font-size: 70px;
        line-height: 84px;
        margin-bottom: 55px;
    }

    &__btn {
        color: #274C5B;
        background-color: #EFD372;
        border: 1px solid #EFD372;
    }

    &__menu-btn {
        display: none;
    }
}

.advantages {
    &__items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__item {
        padding: 105px 0 105px 55px;
        border-radius: 30px;
        width: 100%;
    }

    &__item:first-child {
        color: #fff;
        margin-bottom: 10px;
    }

    &-title {
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        max-width: 265px;
    }
}

.about {
    background-color: #F9F8F8;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &-title {
        margin-bottom: 21px;
    }

    &-text {
        margin-bottom: 50px;
    }

    &__items {
        margin-bottom: 55px;
    }

    &__item {
        display: flex;
        margin-bottom: 30px;
    }

    &__item-img {
        margin-right: 20px;
    }

    &__item-title {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        color: #274C5B;
    }

    &-btn {
        background: #274C5B;
        border: 1px solid #274C5B;
        color: #fff;
    }
}

.products {
    text-align: center;

    &-title {
        max-width: 100%;
        margin-bottom: 40px;
    }

    &__items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__item {
        background-color: #F9F8F8;
        border-radius: 30px;
        max-width: 447px;
        height: 590px;
        padding: 67px 30px 35px 30px;
        position: relative;
        margin-bottom: 10px;
    }

    &__img-box {
        display: flex;
        justify-content: center;
    }

    &__item-title {
        font-family: 'Roboto',
            sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 35px;
        letter-spacing: 0.36px;
        color: #274C5B;
        padding-bottom: 11px;
        border-bottom: 1px solid #D4D4D4;
        margin-bottom: 10px;
    }

    &__item-textbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item-price {
        display: flex;
    }

    &__price-old {
        color: #B8B8B8;
        text-decoration: line-through;
        margin-right: 15px;
    }

    &__price-new {
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
    }

    &__item--vegetable::after {
        position: absolute;
        content: 'Vegetable';
        font-weight: 700;
        font-size: 15px;
        line-height: 27px;
        color: #FFFFFF;
        top: 35px;
        left: 50px;
    }

    &__item--millets::after {
        position: absolute;
        content: 'Millets';
        font-weight: 700;
        font-size: 15px;
        line-height: 27px;
        color: #FFFFFF;
        top: 35px;
        left: 57px;
    }

    &__item--fruits::after {
        position: absolute;
        content: 'Fruits';
        font-weight: 700;
        font-size: 15px;
        line-height: 27px;
        color: #FFFFFF;
        top: 35px;
        left: 63px;
    }

    &__item--vegetable::before,
    &__item--millets::before,
    &__item--fruits::before {
        position: absolute;
        content: '';
        background: #274C5B;
        border-radius: 8px;
        top: 30px;
        left: 28px;
        height: 37px;
        width: 118px;
    }
}

.review {
    &__inner {
        text-align: center;
    }

    &-title {
        max-width: 100%;
        margin-bottom: 60px;
    }

    &__item {
        text-align: center;
        max-width: 966px;
        margin: 0 auto;
        padding-bottom: 95px;
        border-bottom: 2px solid #E0E0E0;
        margin-bottom: 100px;
    }

    &__item-img {
        margin-bottom: 18px;
    }

    &__item-img img {
        margin: 0 auto;
        border-radius: 50%;
    }

    &-star {
        margin: 0 auto;
        margin-bottom: 33px;
    }

    &__item-text {
        margin-bottom: 23px;
        max-width: 940px;
    }

    &__item-name {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 26px;
        line-height: 34px;
        color: #274C5B;
    }

    &__item-user {
        font-size: 14px;
        line-height: 27px;
    }

    &__levels {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1104px;
        margin: 0 auto;
    }

    &__levels-item {
        background-color: #F1F1F1;
        width: 250px;
        height: 250px;
        border: 6px solid #7EB693;
        border-radius: 200px;
    }

    &__levels-border {
        width: 240px;
        height: 240px;
        border: 5px solid #FFFFFF;
        border-radius: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #274C5B;
    }

    &__levels-num {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 42px;
        line-height: 55px;
    }

    &__levels-text {
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
    }
}

.offer {
    background-color: #274C5B;

    &-title {
        color: #fff;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    &__box-btn {
        background-color: #EFD372;
        border: 1px solid #EFD372;
        color: #274C5B;
        align-self: flex-start;
    }
}

.eco {
    padding: 0;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-title {
        margin-bottom: 30px;
    }

    &__info-item {
        margin-bottom: 10px;
    }

    &__info-box {
        border-radius: 30px;
        max-width: 720px;
        padding: 40px 50px 50px;
        min-height: 623px;
        margin-left: -70px;
        background-color: #fff;
        box-shadow: 26px 33px 46px -14px rgba(0, 0, 0, 0.27);
    }

    &__item-title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 23px;
        line-height: 32px;
        color: #274C5B;
    }

    &__item-title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 23px;
        line-height: 32px;
        color: #274C5B;
    }
}

.organic {
    background-color: #EFF6F1;

    .container.page-section {
        max-width: 1460px;
        padding: 0 10px;
        margin: 0 auto;
    }

    &__items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    &__item-box {
        height: 95px;
        width: 280px;
        background-color: #FFFFFF;
        border-radius: 20px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
        color: #274C5B;
        margin: auto;
    }
}

.news {
    &__inner-box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        flex-wrap: wrap;
    }

    &__title-box {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    &-title {
        max-width: 100%;
    }

    &__box-btn {
        background-color: transparent;
        border: 1px solid #274C5B;
        align-self: flex-end;
    }

    &__items {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__item {
        position: relative;
    }

    &__item-box {
        background-color: #fff;
        box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.14);
        border-radius: 30px;
        height: 337px;
        width: 610px;
        padding: 50px 30px 50px;
        position: absolute;
        bottom: -75px;
        left: 28px;
        z-index: 5;
    }

    &__item-name {
        font-family: 'Roboto',
            sans-serif;
        font-size: 17px;
        line-height: 23px;
        color: #274C5B;
        padding-left: 30px;
        position: relative;
        margin-bottom: 15px;
    }

    &__item-name::before {
        position: absolute;
        content: '';
        background-image: url('../images/icons/user-icon.svg');
        width: 18px;
        height: 20px;
        top: -2px;
        left: 0;
    }

    &__item-title {
        font-family: 'Roboto',
            sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 35px;
        color: #274C5B;
        margin-bottom: 38px;
    }

    &__item-text {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 15px;
    }

    &__item-btn {
        padding: 10px 50px 10px 4px;
    }

    .news__item-btn.btn::after {
        background-image: url('../images/icons/arrow-btn__small.svg');
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        right: 22px;
        top: 19px;
    }

    .news__item-btn.btn::before {
        width: 20px;
        height: 20px;
        right: 18px;
        top: 13px;
    }
}

.subscribe {

    &__inner {
        border-radius: 30px;
        padding: 100px 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-title {
        font-size: 50px;
        line-height: 60px;
        color: #FFFFFF;
    }

    &__form-input {
        background-color: #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 16px;
        padding: 26px 110px 26px 20px;
        margin-right: 10px;
    }

    &__form-input::placeholder {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
        letter-spacing: 0.36px;
        color: #525C60;
    }

    &-btn {
        background: #274C5B;
        border: 1px solid #274C5B;
        color: #fff;
        font-weight: 700;
    }
}

.footer {
    padding: 130px 0 0;

    &__top {
        display: flex;
        justify-content: space-between;
        height: 369px;
        margin-bottom: 150px;
    }

    &__top-contact {
        text-align: right;
        position: relative;
        padding-right: 20px;
    }

    &__top-contact::after {
        position: absolute;
        content: '';
        width: 1px;
        background-color: #D5D5D5;
        height: 100%;
        top: 0;
        right: 0;
    }

    &__top-title {
        margin-bottom: 35px;
        font-weight: 700;
        font-size: 30px;
        line-height: 42px;
        color: #274C5B;
    }

    &__top-contact__title {
        font-weight: 700;
        line-height: 23px;
        font-size: 18px;
        margin-bottom: 5px;
    }

    &__top-contact__link {
        font-size: 18px;
        line-height: 32px;
    }

    &__top-contact__item:not(:last-child) {
        margin-bottom: 40px;
    }

    &__top-info__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 44px;
    }

    &__top-info__text {
        max-width: 570px;
        margin-bottom: 50px;
        text-align: center;
    }

    &__top-social__list {
        display: flex;
        justify-content: center;
    }

    &__social-item:not(:last-child) {
        margin-right: 20px;
    }

    &__social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #EFF6F1;
    }

    &__top-utility {
        text-align: left;
        padding-left: 20px;
        position: relative;
    }

    &__top-utility::after {
        position: absolute;
        content: '';
        width: 1px;
        background-color: #D5D5D5;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__top-utility__item:not(:last-child) {
        margin-bottom: 20px;
    }

    &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 23px 0;
    }
}

@media (max-width: 1200px) {
    .about {
        &__inner {
            flex-wrap: wrap;
        }

        &__info {
            margin-bottom: 15px;
        }

        &-img {
            order: 1;
            margin: auto;
        }
    }

    .eco {
        &__inner {
            flex-direction: column;
        }

        &__info-box {
            margin-left: 0;
            margin-right: 0;
            margin-top: -70px;
        }
    }
}

@media (max-width: 992px) {

    section {
        padding: 120px 0;
    }

    .title-subtitle {
        font-size: 32px;
        line-height: 55px;
    }

    .title {
        font-size: 44px;
        line-height: 52px;
    }

    .lock-scroll {
        overflow: hidden;
    }

    .header {

        &__top {
            flex-wrap: wrap;
        }

        &__menu-btn {
            display: block;
            background-color: transparent;
            border: none;
            z-index: 999;
            position: absolute;
            right: 0;
        }

        &__top-cart {
            margin-right: 45px;
            margin-top: 10px;
        }

        &__menu-btn path {
            transition: transform 0.25s;
        }

        &__menu-btn--active path:nth-of-type(1) {
            transform: rotate(45deg);
            transform-origin: -1px 3px;
        }

        &__menu-btn--active path:nth-of-type(2) {
            display: none;
        }

        &__menu-btn--active path:nth-of-type(3) {
            transform: rotate(-45deg);
            transform-origin: 0px 13px;
        }

        &__top-nav {
            display: block;
            position: absolute;
            transform: translateY(-200%);
            transition: all 0.3s;
            height: 100vh;
            z-index: 999;
            background-color: #fff;
            top: 0;
            left: 0;
            right: 0;
            padding: 100px 0 15px;
        }

        &__top-list {
            flex-direction: column;
            align-items: center;
        }

        &__top-nav--active {
            transform: translateY(0%);

        }


        &__top-item:not(:last-child) {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    .offer {
        &__box-title {
            margin-right: 10px;
            margin-bottom: 10px;
        }

        &__box {
            flex-wrap: wrap;
        }
    }

    .news {
        &__inner-box {
            margin-bottom: 80px;
        }
    }
}

@media (max-width: 768px) {

    section {
        padding: 90px 0;
    }

    .header {
        &__top {
            padding: 20px 0;
        }

        &__offer {
            padding: 180px 0 210px;
        }
    }

    .title-subtitle {
        font-size: 30px;
        line-height: 40px;
    }

    .title {
        font-size: 42px;
        line-height: 48px;
    }

    .btn {
        font-size: 18px;
        line-height: 28px;
    }

    .about {

        &-img {
            max-width: 420px !important;
            max-height: 400px !important;
        }

        &-text {
            margin-bottom: 20px;
        }

        &__item {
            flex-wrap: wrap;
            margin-bottom: 20px;
        }

        &__items {
            margin-bottom: 35px;
        }
    }

    .review {
        &__item {
            padding-bottom: 65px;
            margin-bottom: 50px;
        }

        &__levels {
            justify-content: space-around;
        }

        &__levels-item:not(:last-child) {
            margin-bottom: 15px;
        }

        &-title {
            margin-bottom: 20px;
        }
    }

    .news {
        &__item {
            width: 450px !important;
            height: 380px !important;
        }

        &__item-box {
            max-height: 220px;
            max-width: 380px;
            padding: 20px 15px 20px;
            bottom: -75px;
            left: 28px;
        }

        &__item-text {
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 20px;
        }

        &__item-title {
            margin-bottom: 15px;
            font-size: 18px;
            line-height: 24px;
        }

        &__inner-box {
            margin-bottom: 60px;
        }
    }
}

@media (max-width: 450px) {

    section {
        padding: 50px 0;
    }

    .header {
        &__offer {
            padding: 150px 0 175px;
        }
    }

    .title-subtitle {
        font-size: 28px;
        line-height: 30px;
    }

    .title {
        font-size: 32px;
        line-height: 38px;
    }

    .about {

        p {
            font-size: 14px;
        }

        &-img {
            max-width: 280px !important;
            max-height: 270px !important;
        }

        &-text {
            margin-bottom: 15px;
        }

        &__item {
            margin-bottom: 15px;
        }

        &__items {
            margin-bottom: 25px;
        }
    }

    .products {
        &__item {
            max-width: 320px;
            height: 540px;
            padding: 67px 5px 35px 5px;
        }

        &__img-box img {
            max-width: 320px !important;
            max-width: 310px !important;
        }

        &__item-textbox {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item-price {
            margin-bottom: 20px;
        }
    }

    .eco {
        &__info-box {
            padding: 20px 30px 20px;
        }

        &__item-text {
            font-size: 14px;
        }

        &__item-title {
            font-size: 18px;
        }
    }

    .news {
        &__item {
            width: 300px !important;
            height: 280px !important;
        }

        &__item-box {
            height: 220px;
            width: 300px;
            padding: 20px 15px 20px;
            bottom: 0;
            left: 0;
        }

        &__inner-box {
            margin-bottom: 40px;
        }
    }
}