html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #274C5B;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.36px;
  color: #525C60;
}

/* font-family: 'Open Sans',
sans-serif;
font-family: 'Roboto',
sans-serif;
font-family: 'Yellowtail',
cursive; */
.container {
  max-width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
}

section {
  padding: 140px 0;
}

.title-subtitle {
  font-size: 36px;
  line-height: 65px;
  font-family: "Yellowtail";
  color: #7EB693;
}

.title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 45px;
  line-height: 58px;
  text-transform: capitalize;
  max-width: 523px;
}

.btn {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  border-radius: 16px;
  padding: 25px 71px 25px 33px;
  position: relative;
}

.btn::after {
  position: absolute;
  content: "";
  background-image: url("../images/icons/arrow-btn.svg");
  width: 17px;
  height: 13px;
  right: 21px;
  top: 32px;
}

.btn::before {
  position: absolute;
  content: "";
  background-color: #335B6B;
  width: 38px;
  height: 34px;
  right: 11px;
  top: 22px;
  border-radius: 50%;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.header__top-list {
  display: flex;
}
.header__top-cart {
  display: flex;
}
.header__cart-text {
  display: flex;
}
.header__top-nav {
  margin-left: -60px;
}
.header__top-item:not(:last-child) {
  margin-right: 40px;
}
.header__top-item {
  font-size: 20px;
  font-family: "Roboto";
}
.header__top-link--active {
  color: #7EB693;
}
.header__top-cart {
  border: 1px solid #D4D4D4;
  border-radius: 33px;
  padding: 7px 11px;
}
.header__cart-link {
  background: #274C5B;
  border-radius: 100px;
  width: 56px;
  height: 56px;
  margin-right: 12px;
}
.header__cart-link img {
  margin: auto;
  margin-top: 14px;
}
.header__cart-text {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 29px;
  font-family: "Roboto";
}
.header__cart-text p {
  margin-right: 10px;
  color: #274C5B;
}
.header__offer {
  max-width: 530px;
  color: #274C5B;
  padding: 220px 0 250px;
}
.header-subtitle {
  margin-bottom: 14px;
}
.header-title {
  font-size: 70px;
  line-height: 84px;
  margin-bottom: 55px;
}
.header__btn {
  color: #274C5B;
  background-color: #EFD372;
  border: 1px solid #EFD372;
}

.advantages__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advantages__item {
  padding: 105px 0 105px 55px;
  border-radius: 30px;
  width: 100%;
}
.advantages__item:first-child {
  color: #fff;
}
.advantages-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  max-width: 265px;
}

.about {
  background-color: #F9F8F8;
}
.about__inner {
  display: flex;
  justify-content: space-between;
}
.about-title {
  margin-bottom: 21px;
}
.about-text {
  margin-bottom: 50px;
}
.about__items {
  margin-bottom: 55px;
}
.about__item {
  display: flex;
  margin-bottom: 30px;
}
.about__item-img {
  margin-right: 20px;
}
.about__item-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  color: #274C5B;
}
.about-btn {
  background: #274C5B;
  border: 1px solid #274C5B;
  color: #fff;
}

.products__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-items: center;
}
.products__item {
  background-color: #F9F8F8;
  border-radius: 30px;
  max-width: 447px;
  height: 590px;
  padding: 67px 30px 35px 30px;
  position: relative;
  margin-bottom: 20px;
}
.products__img-box {
  display: flex;
  justify-content: center;
}
.products__item-title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  letter-spacing: 0.36px;
  color: #274C5B;
  padding-bottom: 11px;
  border-bottom: 1px solid #D4D4D4;
  margin-bottom: 10px;
}
.products__item-textbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products__item-price {
  display: flex;
}
.products__price-old {
  color: #B8B8B8;
  text-decoration: line-through;
  margin-right: 15px;
}
.products__price-new {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
.products__item--vegetable::after {
  position: absolute;
  content: "Vegetable";
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
  color: #FFFFFF;
  top: 35px;
  left: 50px;
}
.products__item--millets::after {
  position: absolute;
  content: "Millets";
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
  color: #FFFFFF;
  top: 35px;
  left: 57px;
}
.products__item--fruits::after {
  position: absolute;
  content: "Fruits";
  font-weight: 700;
  font-size: 15px;
  line-height: 27px;
  color: #FFFFFF;
  top: 35px;
  left: 63px;
}
.products__item--vegetable::before, .products__item--millets::before, .products__item--fruits::before {
  position: absolute;
  content: "";
  background: #274C5B;
  border-radius: 8px;
  top: 30px;
  left: 28px;
  height: 37px;
  width: 118px;
}/*# sourceMappingURL=style.css.map */